Analysis_of_Data/*/__pycache__/
Analysis_of_Data/structure_factor/LRO_SSF/
Analysis_of_Data/structure_factor/SFs/
#
minimization/__pycache__/
#
working_DM/__pycache__/
#
bashCodes/
#
Figures/
#
kagClass/phase_diagram/__pycache__/
kagClass/phase_diagram/af2/
kagClass/phase_diagram/antiferro_j1/
kagClass/phase_diagram/ferro_j1/
kagClass/phase_diagram/*.png
kagClass/structure_factor/__pycache__/
kagClass/structure_factor/Figures/
kagClass/structure_factor/data/
#
PyEnv/
#
Data/
#
old_Data/
