Analysis_of_Data/*/__pycache__/
Analysis_of_Data/structure_factor/LRO_SSF/
Analysis_of_Data/structure_factor/SFs/
Analysis_of_Data/structure_factor/SpinOrientations/
#
minimization_SU2/__pycache__/
minimization_TMD/__pycache__/
self_consistency/__pycache__/
SDM_diagram/__pycache__/
#
bashCodes/
#
Figures/
#
classical_kagome/phase_diagram/__pycache__/
classical_kagome/phase_diagram/data/
classical_kagome/structure_factor/__pycache__/
classical_kagome/structure_factor/Figures/
classical_kagome/structure_factor/data/
#
PyEnv/
#
Data/
#
old_Data/
#
ssf_cb1/
#
indoings.txt
#
self_consistency/*/__pycache__/
self_consistency/structure_factor/data_*/
